In [84]:
import numpy as np

In [85]:
import pandas as pd

In [86]:
df = pd.read_excel("tiburones.xls")

In [100]:
df.head()

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22
0,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1st September,2025.0,Unprovoked,USA,Florida,Horseshoe reef Key Largo,Snorkeling,Richard Burrows,M,8,...,Not stated,Todd Smith: US SUN: NY Post: The Guardian: Peo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30th August,2025.0,Unprovoked,USA,Texas,Galveston,Swimming,Harper Ochoa,F,8,...,Not stated,Bob Myatt GSAF : People:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,...,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,...,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
print("Dimensiones del dataframe:", df.shape)

Dimensiones del dataframe: (7045, 23)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7045 entries, 0 to 7044
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7045 non-null   object
 1   Year            7043 non-null   float64
 2   Type            7027 non-null   object
 3   Country         6995 non-null   object
 4   State           6560 non-null   object
 5   Location        6478 non-null   object
 6   Activity        6460 non-null   object
 7   Name            6826 non-null   object
 8   Sex             6466 non-null   object
 9   Age             4051 non-null   object
 10  Injury          7010 non-null   object
 11  Fatal Y/N       6484 non-null   object
 12  Time            3519 non-null   object
 13  Species         3914 non-null   object
 14  Source          7025 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [91]:
print(df.isnull().sum().head(20))

Date                0
Year                2
Type               18
Country            50
State             485
Location          567
Activity          585
Name              219
Sex               579
Age              2994
Injury             35
Fatal Y/N         561
Time             3526
Species          3131
Source             20
pdf               246
href formula      251
href              249
Case Number       247
Case Number.1     248
dtype: int64

In [93]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [94]:
df.columns=df.columns.str.lower().str.strip().str.replace(" ", "_")

In [95]:
df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal_y/n', 'time', 'species',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [96]:
df.head()

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22
0,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1st September,2025.0,Unprovoked,USA,Florida,Horseshoe reef Key Largo,Snorkeling,Richard Burrows,M,8,...,Not stated,Todd Smith: US SUN: NY Post: The Guardian: Peo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30th August,2025.0,Unprovoked,USA,Texas,Galveston,Swimming,Harper Ochoa,F,8,...,Not stated,Bob Myatt GSAF : People:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,...,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,...,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
df["sex"].unique()

array(['M', 'F', 'F ', 'M ', nan, ' M', 'm', 'lli', 'M x 2', 'N', '.'],
      dtype=object)

In [102]:
df["sex"].value_counts()

sex
M        5649
F         805
M           3
F           2
N           2
 M          1
m           1
lli         1
M x 2       1
.           1
Name: count, dtype: int64

In [ ]:
df["sex"].replace({"F ": "F", "M " : "M", " M": "M"},inplace= True)

In [104]:
df["sex"].value_counts()

sex
M        5653
F         807
N           2
m           1
lli         1
M x 2       1
.           1
Name: count, dtype: int64

In [111]:
df=df[df["sex"].isin(["M","F"])]

In [112]:
df["sex"].value_counts()

sex
M    5653
F     807
Name: count, dtype: int64

In [125]:
df= df[['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal_y/n', 'time', 'species',
       'source']]

In [126]:
df.head()

,date,year,type,country,state,location,activity,name,sex,age,injury,fatal_y/n,time,species,source
0,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,Both legs and arm severed,Y,0930hrs,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...
1,1st September,2025.0,Unprovoked,USA,Florida,Horseshoe reef Key Largo,Snorkeling,Richard Burrows,M,8,Bite to leg,N,1524hrs,Not stated,Todd Smith: US SUN: NY Post: The Guardian: Peo...
2,30th August,2025.0,Unprovoked,USA,Texas,Galveston,Swimming,Harper Ochoa,F,8,Bite to leg,N,Not stated,Not stated,Bob Myatt GSAF : People:
3,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,None sustained board severly damaged,N,0730hrs,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...
4,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,Severe injuries no detail,N,1300hrs,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...